%% -*- erlang -*-
{sys, [
       {lib_dirs, ["rel/releases", "deps", "lib"]},
       {rel, "edts", "1.0.0",
        [kernel,
         stdlib,
         {edts, permanent},
         mochiweb,
         {edts_xref, load},
         {edts_dialyzer, load},
         {edts_debug, load}
        ]},
       {boot_rel, "edts"},
       {profile, embedded},
       {debug_info, keep},
       {incl_cond, include}
      ]}.
