%% -*- erlang -*-
{sys, [
       {lib_dirs, ["lib/", "deps/"]},
       {rel, "edts", "1.0.0",
        [kernel,
         stdlib,
         {edts, permanent},
         mochiweb,
         edts_xref,
         edts_dialyzer,
         edts_debug
        ]},
       {boot_rel, "edts"},
       {profile, embedded},
       {debug_info, keep},
       {incl_cond, include}
      ]}.
