%% -*- mode: erlang; erlang-indent-level: 2; indent-tabs-mode: nil -*-

{erl_opts, [debug_info,
            {platform_define, "^[0-9]+", namespaced_types}
           ]}.

{deps, [{mochiweb,
         {git, "http://github.com/mochi/mochiweb",
          {tag, "v2.20.0"}}}
       ]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{xref_checks, [undefined_function_calls,undefined_functions,
               locals_not_used,deprecated_function_calls,
               deprecated_functions]}.

{profiles,
 [{test,
   [{erl_opts, [debug_info]},
    {deps, [{meck, "0.8.11"}]}
   ]}
 ]}.

{relx, [{release, {edts, "0.1.0"},
         [edts, edts_debug, edts_dialyzer, edts_xref]},
        {dev_mode, true},
        {include_erts, false},
        {vm_args, "config/vm.args"},
        {extended_start_script, true}]}.
