%% -*- mode: erlang; erlang-indent-level: 2; indent-tabs-mode: nil -*-

{erl_opts, [ debug_info
           , {parse_transform, lager_transform}
           , {platform_define, "^[0-9]+", namespaced_types}
           ]}.

{deps,     [ {webmachine, ".*", {git, "git://github.com/webmachine/webmachine.git"}}
           , {meck,       ".*", {git, "git://github.com/eproxus/meck",         {tag,    "0.8.2"}}}
           , {lager,      ".*", {git, "git://github.com/basho/lager",          {tag,    "2.2.3"}}}
           ]}.

%%{cover_enabled,       true}.
%%{cover_print_enabled, true}.
{xref_checks,         [undefined_function_calls]}.

{relx, [
        {release,{edts,"0.0.1"},[edts]},
        {sys_config, "./config/app.config"},
        {vm_args, "./config/vm.args"}
]}.
