%% -*- mode: erlang -*-

{erl_opts, [debug_info,
            {platform_define, "^[0-9]+", namespaced_types}
           ]}.

{deps, [{mochiweb, "2.20.1"}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{xref_checks, [undefined_function_calls,undefined_functions,
               locals_not_used,deprecated_function_calls,
               deprecated_functions]}.

{profiles,
 [{test,
   [{erl_opts, [debug_info]},
    {deps, [{meck, "0.8.13"}]},
    {relx, [{dev_mode, true},
            {include_erts, false}
           ]}
   ]}
 ]}.

{relx, [{release, {edts, "0.1.0"},
         [edts, edts_debug, edts_dialyzer, edts_xref]},
        {dev_mode, false},
        {include_erts, true},
        {vm_args, "config/vm.args"},
        {extended_start_script, true}]}.
