%% -*- mode: erlang; erlang-indent-level: 2; indent-tabs-mode: nil -*-

{lib_dirs, [".."]}.
{deps_dir, [".."]}.
{erl_opts, [ debug_info
           , {parse_transform, lager_transform}
           , {platform_define, "^[0-9]+", namespaced_types}
           ]}.

{deps,     [ {mochiweb,   ".*", {git, "git://github.com/mochi/mochiweb.git", {tag, "v2.12.2"}}}
           , {webmachine, ".*", {git, "git://github.com/basho/webmachine.git", "6c4265808d8d307d76f28483f5eaada7d261ea18"}}
           , {meck,       ".*", {git, "git://github.com/eproxus/meck",       {tag,   "0.8.2"}}}
           , {lager,      ".*", {git, "git://github.com/erlang-lager/lager", {tag,   "3.3.0"}}}
           ]}.

{cover_enabled,       true}.
{cover_print_enabled, true}.
{xref_checks,         [undefined_function_calls]}.
