%% -*- mode: erlang; erlang-indent-level: 2; indent-tabs-mode: nil -*-

{lib_dirs, [".."]}.
{deps_dir, [".."]}.
{erl_opts, [debug_info]}.
%% {deps,     [ {webmachine, "1.8.1",
%%               {git, "git://github.com/basho/webmachine",
%%                {tag, "webmachine-1.8.1"}}}
%%            ]}.
% Track webmachine master until there's a more recent tag than 1.8.1
{deps,     [ {webmachine, ".*", {git, "git://github.com/basho/webmachine", {branch, "master"}}}
           , {meck,       ".*", {git, "git://github.com/eproxus/meck",     {tag,    "0.7.2"}}}
           ]}.

{cover_enabled,       true}.
{cover_print_enabled, true}.
{xref_checks,         [undefined_function_calls]}.
