%% -*- mode: erlang; erlang-indent-level: 2; indent-tabs-mode: nil -*-

{lib_dirs, [".."]}.
{deps_dir, [".."]}.
{erl_opts, [ debug_info
           , {parse_transform, lager_transform}
           , {platform_define, "^[0-9]+", namespaced_types}
           ]}.

{deps,     [ {webmachine, ".*", {git, "git://github.com/basho/webmachine.git", {tag,    "1.10.6"}}}
           , {meck,       ".*", {git, "git://github.com/eproxus/meck",         {tag,    "0.8.2"}}}
           , {lager,      ".*", {git, "git://github.com/basho/lager",          {tag,    "2.0.3"}}}
           ]}.

{cover_enabled,       true}.
{cover_print_enabled, true}.
{xref_checks,         [undefined_function_calls]}.
