name: Run Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-18.04
    name: OTP ${{matrix.otp}}
    strategy:
      matrix:
        otp: [17.5.3, 18.3.4.11, 19.3.6.13, 20.3.8.26, 21.3.8.17, 22.3.4.9, 23.3.1, 24.0.5]
        emacs: [27.1] # 24.5, 26.3,

    steps:
      - name: Install Emacs
        uses: purcell/setup-emacs@master
        with:
          version: ${{matrix.emacs}}

      - name: Install Erlang
        id: install_erlang
        uses: sebastiw/setup-erlang@main
        with:
          otp-version: ${{matrix.otp}}

      - name: Add Erlang to Path
        run: |
          echo "ERL_PATH=/usr/lib/erlang" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Compile
        run: make

      - name: Test
        run: make test
