name: Run Tests

on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main

jobs:
  test:
    runs-on: ubuntu-22.04
    name: OTP ${{matrix.otp}}
    strategy:
      matrix:
        otp: [22.3.4.9, 23.3.1, 24.3.3, 25.3.1]
        emacs: [27.1] # 24.5, 26.3,

    steps:
      - name: Install Emacs
        uses: purcell/setup-emacs@master
        with:
          version: ${{matrix.emacs}}

      - name: Install Erlang
        id: install_erlang
        uses: sebastiw/setup-erlang@main
        with:
          otp-version: ${{matrix.otp}}

      - name: Add Erlang to Path
        run: |
          echo "ERL_PATH=/usr/lib/erlang" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Compile
        run: make

      - name: Test
        run: make test
