name: Run Tests

on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main
  workflow_dispatch:

jobs:
  # Supported versions is rather complex:
  #
  # ubuntu-18.04: OTP_VERSION=17.0 - 25.3
  # ubuntu-20.04: OTP_VERSION=21.0 - 27
  # ubuntu-22.04: OTP_VERSION=24.2 - 27
  # ubuntu-24.04: OTP_VERSION=24.3 - 27

  test:
    runs-on: ubuntu-20.04
    name: OTP ${{matrix.erlang.otp}}
    env:
      emacs: 27.1
    strategy:
      matrix:
        erlang:
          # - otp: "17"
          #   rebar3: "3.10.0"
          # - otp: "18"
          #   rebar3: "3.11.1"
          # - otp: "19"
          #   rebar3: "3.15.2"
          # - otp: "20"
          #   rebar3: "3.15.2"
          # - otp: "21"
          #   rebar3: "3.15.2"
          - otp: "22.3.4.9"
            rebar3: "3.16.1"
          - otp: "23.3.4.5"
            rebar3: "3.16.1"
          - otp: "24.3.4.17"
            rebar3: "3.16.1"
          - otp: "25.3.2.15"
            rebar3: "3.22.1"
          # - otp: "26.2.5.5"
          #   rebar3: "3.22.1"
          # - otp: "27.1.2"
          #   rebar3: "3.22.1"
    steps:
      - name: Install Emacs
        uses: purcell/setup-emacs@master
        with:
          version: ${{env.emacs}}

      - name: Install Erlang
        id: install_erlang
        uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.erlang.otp}}
          rebar3-version: ${{matrix.erlang.rebar3}}
          install-hex: false

      - name: Add Erlang to Path
        run: |
          echo "ERL_PATH=/usr/lib/erlang" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Compile
        run: make

      - name: Test
        run: make test
